@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  font-family: "Spartan", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: aqua;
  width: 100%;
 }

header{
  display: flex;
  color: rgb(236, 14, 236);
  padding: 100px 140px 20px;
  justify-content: space-between;
  width: 100%;
}

.main__header p {
  line-height: 28px;
  font-weight: 700;
}

.main__header h1 {
  margin-top: 20px;
}

.nain__header h2 {
  margin-top: 20px;  
}

.hr1 {
  padding: auto;
  border-top: #502050 solid 18px;
  border-radius: 20px;
  width: 100%;
}

.foto {
  display: flex;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  overflow: hidden;
  position: absolute;
  border: #502050 solid 10px;
  margin-top: 0;
  margin-left: 530px;
}

.redesociais {
  display: flex;
  background-color: rgb(250, 223, 239);
  padding: 15px 10px 10px 50px;
  margin: 10px 20px 25px 30px;
  margin-right: 20px;
  border-radius: 20px;
  width: 100%;
  font-size: 14px;   
}

.redesociais a {
  text-decoration: none;
  text-align: justify;
}

.redesociais a:visited {
  color:rgb(160, 9, 248);
}

.redesociais a:hover {
  color:rgb(163, 16, 163);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  flex-wrap: wrap;
  padding: 10px 140px;
}

.review {
  background-color: rgb(167, 42, 139);
  color: white;
  padding: 40px 30px;
  width: 375px;
  line-height: 24px;
  border-radius: 10px;
  font-size: 13px;
}

section p {
  color: white;
}

.tag {
  color: rgb(241, 145, 213);
}

.review p {
  font-weight: 400;
  padding-bottom: 2px;
}

.name {
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;;
}

.review-2 {
  margin-top: 40px;
}

.review-3 {
  margin-top: 80px;
}


.review-info{
  display: flex;
  margin: 10px;
}

.footer {
  font-size: 11.5px;
  text-align: center;
  color: #fff;
  font-weight: 500;;
}
.footer a {
  color: rgb(187, 32, 218);
}

/*Responsivo*/

@media(max-width: 1200px){
  header{
      flex-direction: column;
  }
  .header p {
      width: 100%;
      text-align: center;
  }

  h1{
      width: 100%;
  }
  section{
    flex-direction: column;
}

.review{
    width: 100%;
}
.review {
    margin-top: 20px;
}
.foto {
  display:none;
}

.redesociais {
  width:90%;
  padding:auto;  
}

.hr1{
  margin-bottom: 8px;
}

}

@media(max-width: 768px){
  header,
  section{
      padding: 10px;
  }

  .bottom{
      margin-top: -40px;
  }

  .redesociais{
    width:80%;
    padding: 0 0 -10px;
    
  }
  .review{
      margin-top: 10px;
   }

  h1{
      font-size: 32px;
  }
  
  header p{
    font-size:19px;
  }

  .foto {
    display:none;
  }
}

